body{
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.navbar{
  font-weight: bold;
}

/*table===========================================================================*/
table{
		border-collapse: collapse;
		margin: 20px;
}

td, th{
	border-collapse: collapse;
 border: 1px solid black;
 color:darkorange;text-align: center;
}


/*media queries==================================================================*/
@media(min-width:769px){
.wrap{
  min-height:100vh;
}
}
