body{
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.navbar{
  font-weight: bold;
}

/*table===========================================================================*/
table{
		border-collapse: collapse;
		margin: 20px;
}

td, th{
	border-collapse: collapse;
 border: 1px solid black;
 color:darkorange;text-align: center;
}

.clair-obscure{
  border:2px dotted gold;
}


footer{
  margin-bottom: 0;
  height: 10%;
}
/*media queries==================================================================*/
@media(min-width:769px){
.wrap{
  min-height:100vh;
}
}
